<div class="window">
  <header class="toolbar toolbar-header">
    <h1 class="title">Bartleby</h1>
    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn-default">
          New
          <!-- <span class="icon icon-home"></span> -->
        </button>
        <button class="btn btn-default">
          Open
          <!-- <span class="icon icon-folder"></span> -->
        </button>
      </div>
      <div class="btn-group pull-right">
        <button class="btn btn-default">
          Delete
          <!-- <span class="icon icon-home"></span> -->
        </button>
      </div>
    </div>
  </header>
  <div class="window-content">
    <div class="pane-group">
      <div class="pane-sm sidebar">
        <div class="note-list">
          <ul class="list-group">
            <li class="list-group-header">
              <input class="form-control" type="text" placeholder="Search Notes">
            </li>
            {{#each model as |note|}}
              <li class="list-group-item">
                <div class="media-body">
                  {{#link-to 'notes.note' note class="note-list-item"}}
                  <strong>{{note.id}}</strong>
                  {{/link-to}}
                  <!-- <p>{{note.content}}</p> -->
                </div>
              </li>
            {{/each}}
          </ul>

          <div class="new-note">
            {{input type="text"
                    placeholder="New Note Title"
                    value=newNoteTitle}}
            {{#if newNoteTitle}}<button {{action 'createNote'}}>Create</button>{{/if}}
          </div>

        </div>
      </div>
      {{outlet}}
    </div>
  </div>
  <footer class="toolbar toolbar-footer">
    <p class="title">
      Word Count: {{note.id}}
    </p>
  </footer>
</div>
