<div class="window">
  <header class="toolbar toolbar-header">
    <h1 class="title">Bartleby</h1>
    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn-default">
          New
        </button>
        <button class="btn btn-default">
          Open
        </button>
      </div>
      <div class="btn-group pull-right">
        <button id="delete" class="btn btn-default" {{action 'deleteNote' on='click'}}>
          Delete
        </button>
      </div>
    </div>
  </header>
  <div class="window-content">
    <div class="pane-group">
      <div class="pane-sm sidebar">
        <div class="note-list">
          <ul class="list-group">
            {{note-list notes=model}}
          </ul>
          <div class="new-note">
            {{input type="text"
                    placeholder="New Note Title"
                    value=newNoteTitle}}
            {{#if newNoteTitle}}<button {{action 'createNote'}}>Create</button>{{/if}}
          </div>
        </div>
      </div>
      {{outlet}}
    </div>
  </div>
  <footer class="toolbar toolbar-footer">
    <p class="title">
      Word Count: {{note.id}}
    </p>
  </footer>
</div>
